<h1>Grupos</h1>

<%= link "Crear nuevo grupo", to: ~p"/groups/new" %>

<ul>
  <%= for group <- @groups do %>
    <li>
      <%= link group.name, to: ~p"/groups/#{group.id}" %>
    </li>
  <% end %>
</ul>
