<.link navigate={~p"/home/groups"} class="btn btn-ghost mb-4">
  ⬅ Volver a grupos
</.link>
​
<div class="mt-4 mb-4">

  <details class="bg-base-200 rounded-lg p-3">
    <summary class="cursor-pointer font-semibold text-primary">
      ➕ Agregar miembro
    </summary>

    <.form
      for={%{}}
      action={~p"/home/groups/#{@group.id}/members"}
      method="post"
      class="mt-3 space-y-2"
    >
      <input type="hidden" name="group_id" value={@group.id} />

      <input
        type="text"
        name="username"
        placeholder="Username del usuario"
        required
        class="input bg-base-100 text-base-content w-full"
      />

      <button class="btn btn-primary w-full">
        Agregar
      </button>
    </.form>
  </details>

   <!-- Ver / borrar miembros -->
  <details class="bg-base-200 rounded-lg p-3">
    <summary class="cursor-pointer font-semibold text-secondary">
      👥 Ver miembros
    </summary>

    <ul class="mt-3 space-y-2">
      <%= for member <- @members do %>
        <li class="flex items-center justify-between bg-base-100 rounded-md p-2">
          <span class="font-medium">
            <%= member.username %>
          </span>

          <.form
            for={%{}}
            action={~p"/home/groups/#{@group.id}/members/#{member.username}"}
            method="delete"
          >
            <button class="btn btn-error btn-sm">
              ❌
            </button>
          </.form>

        </li>
      <% end %>
    </ul>
  </details>

</div>

<.form
  for={%{}}
  method="get"
  action={~p"/home/groups/#{@group.id}/search"}
  class="flex gap-2 mb-4"
>
    <input
      type="text"
      name="q"
      value={assigns[:q] || ""}
      placeholder="Buscar mensajes..."
    />


  <button class="btn btn-primary">
    🔍
  </button>
</.form>

<h2 class="font-bold text-base-content">
  <%=  @group.name %> 
</h2>

<br>
<hr/>
<div id="messages" class="msg-box font-sans space-y-2">
  <%= for msg <- @messages do %>
    <div class={[
      "chat",
      if(msg.sender == @current_user.username, do: "chat-end", else: "chat-start")
    ]}>
      <div class={[
        "chat-bubble",
        if(msg.sender == @current_user.username, do: "chat-bubble-primary", else: "chat-bubble-secondary")
      ]}>
        <strong><%= msg.sender_user.username %>:</strong>
        <%= msg.content %>
        <small class="block text-xs opacity-70 mt-1">
          <%= msg.inserted_at %>
        </small>
      </div>
    </div>
  <% end %>
</div>

<hr/>
<br>

<div 
  id="chat-container"
  data-group-id={@group.id}
  data-username={@current_user.username}
>
  <form id="message-form" class="space-y-2">
    <textarea
      id="message-input"
      required
      class="input bg-base-200 text-base-content w-full"
      placeholder="Escribí tu mensaje..."
    ></textarea>

    <div class="form-control mt-2">
      <button type="submit" class="btn w-full bg-primary text-primary-content">
        Enviar
      </button>
    </div>
  </form>
</div>
