<.link navigate={~p"/home/groups"} class="btn btn-ghost mb-4">
  ⬅ Volver a grupos
</.link>
​
<div class="mt-4 mb-4">

  <details class="bg-base-200 rounded-lg p-3">
    <summary class="cursor-pointer font-semibold text-primary">
      ➕ Agregar miembro
    </summary>

    <.form
      for={%{}}
      action={~p"/home/groups/#{@group.id}/members"}
      method="post"
      class="mt-3 space-y-2"
    >
      <input type="hidden" name="group_id" value={@group.id} />

      <input
        type="text"
        name="username"
        placeholder="Username del usuario"
        required
        class="input bg-base-100 text-base-content w-full"
      />

      <button class="btn btn-primary w-full">
        Agregar
      </button>
    </.form>
  </details>

   <!-- Ver / borrar miembros -->
  <details class="bg-base-200 rounded-lg p-3">
    <summary class="cursor-pointer font-semibold text-secondary">
      👥 Ver miembros
    </summary>

    <ul class="mt-3 space-y-2">
      <%= for member <- @members do %>
        <li class="flex items-center justify-between bg-base-100 rounded-md p-2">
          <span class="font-medium">
            <%= member.username %>
          </span>

          <.form
            for={%{}}
            action={~p"/home/groups/#{@group.id}/members/#{member.username}"}
            method="delete"
          >
            <button class="btn btn-error btn-sm">
              ❌
            </button>
          </.form>

        </li>
      <% end %>
    </ul>
  </details>

</div>

<.form
  for={%{}}
  method="get"
  action={~p"/home/groups/#{@group.id}/search"}
  class="flex gap-2 mb-4"
>
    <input
      type="text"
      name="q"
      value={assigns[:q] || ""}
      placeholder="Buscar mensajes..."
    />


  <button class="btn btn-primary">
    🔍
  </button>
</.form>

<h2 class="font-bold text-base-content">
  <%=  @group.name %> 
</h2>

<br>
<hr/>
<div id="messages" class="msg-box font-sans space-y-2">
  <%= for msg <- @messages do %>
    <div class="bg-white p-2 rounded shadow-sm w-full">
      <p class="text-base text-base-content">
        <strong><%= msg.sender_user.username %>:</strong>
        <%= msg.content %>
      </p>
      <small class="text-sm text-gray-500 block mt-1">
        (<%= msg.inserted_at %>)
      </small>
    </div>
  <% end %>
</div>

<hr/>
<br>

<.form for={%{}} action={~p"/home/groups/#{@group.id}/messages"} method="post" class="space-y-2">

  <textarea
    name="message[content]"
    required
    class="input bg-base-200 text-base-content w-full"
    placeholder="Escribe tu mensaje..."
  ></textarea>
  <!-- Botón ocupa toda la línea -->
  <div class="form-control mt-2">
    <button type="submit" class="btn w-full bg-primary text-primary-content">
      Enviar
    </button>
  </div>

</.form>
