<div class="flex flex-col items-center justify-center min-h-screen text-base-content text-center px-6 w-full">

  <!-- Título -->
  <h1 class="text-4xl font-bold mb-6 w-full text-center">
    Bienvenido al Chat 👋
  </h1>
  <!-- Pregunta -->
  <p class="text-lg mb-8 w-full text-center">
    ¿Qué querés hacer?
  </p>

  <!-- Botones -->
  <ul class="flex flex-col space-y-4 w-full max-w-sm">
    <li>
      <.link href={~p"/login"} class="btn w-full bg-primary text-primary-content rounded-lg">
        Iniciar sesión
      </.link>
    </li>
    <li>
      <.link href={~p"/register"} class="btn w-full bg-primary text-primary-content rounded-lg">
        Crear usuario
      </.link>
    </li>
  </ul>

</div>
