<h1>Bienvenido al Chat 👋</h1>

<p>¿Qué querés hacer?</p>

<ul>
  <li>
    <.link href={~p"/groups"}>Ver grupos</.link>
  </li>
  <li>
    <.link href={~p"/groups/new"}>Crear un grupo</.link>
  </li>
</ul>
