<br>
<h1 class="text-primary font-bold">💬 Chat directo</h1>
<br>

<div class="flex items-center gap-4 border-b border-base-200 pb-4 mb-4">
  <div class = "relative">
    <div class="w-12 h-12 bg-blue-100 rounded-full flex items-center justify-center text-blue-600">
    </div>

    <%= if @other_user.status == :online do %>
      <span class="absolute bottom-0 right-0 w-3.5 h-3.5 bg-green-500 border-2 border-white rounded-full shadow-sm"></span>
    <% else %>
      <span class="absolute bottom-0 right-0 w-3.5 h-3.5 bg-gray-400 border-2 border-white rounded-full shadow-sm"></span>
    <% end %>
  </div>

  <div class="flex flex-col">
    <h2 class="text-lg font-bold text-base-content leading-tight">
      <%= @other_user.username %>
    </h2>
      
    <span class="text-xs font-medium text-gray-500">
      <%= if @other_user.status == :online do %>
        <span class="text-green-600">En línea</span>
      <% else %>
        <%= if @other_user.last_online do %>
          Última vez: <%= Calendar.strftime(@other_user.last_online, "%d/%m/%Y %H:%M") %>
        <% else %>
          Desconectado
        <% end %>
      <% end %>
    </span>
  </div>
</div>

<br>
<hr/>

<.form
  for={%{}}
  method="get"
  action={~p"/home/groups/#{@group.id}/search"}
  class="flex gap-2 mb-4"
>
    <input
      type="text"
      name="q"
      value={assigns[:q] || ""}
      placeholder="Buscar mensajes..."
    />


  <button class="btn btn-primary">
    🔍
  </button>
</.form>

<div id="messages" class="msg-box font-sans space-y-2">
  <%= for msg <- @messages do %>
    <div class="bg-white p-2 rounded shadow-sm w-full">
      <p class="text-base text-base-content">
        <strong><%= msg.sender_user.username %>:</strong>
        <%= msg.content %>
      </p>
      <small class="text-sm text-gray-500 block mt-1">
        (<%= msg.inserted_at %>)
      </small>
    </div>
  <% end %>
</div>

<hr/>
<br>

<.form
  for={%{}}
  action={~p"/home/directs/#{@group.id}/messages"}
  method="post"
  class="space-y-2"
>
  <textarea
    name="message[content]"
    required
    class="input bg-base-200 text-base-content w-full"
    placeholder="Escribí tu mensaje..."
  ></textarea>

  <div class="form-control mt-2">
    <button type="submit" class="btn w-full bg-primary text-primary-content">
      Enviar
    </button>
  </div>
</.form>
