<section class="p-6 space-y-4">
  <h1 class="text-2xl font-bold">💬 Chat</h1>

  <div class="flex gap-4">
    <.link navigate={~p"/home/notifications"} class="btn btn-primary">
      Notificaciones
    </.link>
    
    <.link navigate={~p"/home/groups"} class="btn btn-primary">
      Chats Grupales
    </.link>

    <.link navigate={~p"/home/directs"} class="btn btn-primary">
      Chat Directos
    </.link>

    <.link navigate={~p"/home/contacts"} class="btn btn-primary">
      Contactos
    </.link>
  </div>
</section>
