<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Chat Elixir</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <main role="main">
    <%= @inner_content %>
  </main>
</body>
</html>
