<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Chat Elixir</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS -->
  <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"}>

  <!-- JS -->
  <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}></script>
  
  <script>
    window.userToken = "<%= assigns[:user_token] %>";
  </script>
</head>

<body>
  <main role="main">
    <%= @inner_content %>
  </main>
</body>
</html>